body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

section img {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
    width: 50%;
    height: 66.6%;
    min-width: 200px;
    min-height: 266px;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333;
    border-radius: 10px;
    border: solid rgb(0, 210, 210);

    height: 50px;
    width: calc(100% - 100px);

    display: inline-block;
}
header p {
    color: orange;
    font-weight: bold; 
    border: 4px solid orange;
    border-radius: 5px;

    display: inline-flex;
}
header a {
    color: rgb(0, 210, 210);
    font-weight: bold;
    border: 2px solid rgb(0, 210, 210);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    text-decoration: none;

    display: inline-flex;
}
header a:hover {
    background-color: orange;
    color: #333;
    border: 2px solid orange;
}

nav {
    position: sticky;
    top: 0;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    border: solid rgb(0, 210, 210);
    
    height: 50px;
    width: 50px;

    display: inline-block;
}
.ham-menu {
    height: 100%;
    width: 100%;
    position: sticky;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(0, 210, 210);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s ease-in-out;
}
.ham-menu span:nth-child(1) {top: 25%;}
.ham-menu span:nth-child(3) {top: 75%;}


.side-bar {
    background: linear-gradient(135deg, rgb(0, 226, 226), rgb(15, 134, 247));
    width: 100%;
    max-width: 250px;
    height: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    left: 25px;
    transition: .25s ease-in-out;
    z-index: 100;

    flex: 0 1 250px;
}
.side-bar.active {
    left: 0px;
}
.side-bar a{
    color: #333;
    font-size: medium;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
    transition: all 0.25s ease-in-out;
}
.side-bar a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: larger;
}
.side-bar a.active {
    font-size: larger;
    color: black;
    text-decoration: underline;
    text-decoration-color: orange;
}
.side-bar-close {
    height: 50px;
    width: 50px;
    float: right;
    margin: 10px;
    margin-bottom: -10px;
    opacity: 0;
}
.side-bar-close span {
    height: 5px;
    width: 45px;
    margin-top: 25px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
}
.side-bar-close span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}
.side-bar-close span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}


main {
    margin: 25px;
    margin-left: 300px;
    transition: all 0.25s ease-in-out;
}
section {
    background-color: #fff;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
h1 {
    background-color: #333;
    color: #fff;
    margin: -15px;
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 5px solid orange;
    padding-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h2 {
    background-color: orange;
    color: black;
    padding: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.section-content {
    display: inline-block;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}
footer a {
    color: rgb(0, 210, 210);
}


@media screen and (orientation: portrait){
    .overhead-btns {
        display: flex;
    }
    header {
        flex: 1 1 50px;
        margin-left: 25px;
    }
    header p {
        margin: 1%;
        font-size: 10px;
    }
    header a {
        margin: 1%;
        font-size: 10px;;
    }
    nav {
        opacity: 100;
        margin-left: 0;
    }
    .side-bar {
        left: -250px;
    }
    .side-bar-close {opacity: 100;}
    main {
        margin-left: 25px;
    }

}
