html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

.head-contain {
    float: right;
    position: fixed;
    top: 0;
    width: calc(100% - 340px);
    z-index: 50;
}
header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: solid rgb(0, 210, 210);
    font-weight: bold;
    height: 50px;
}
header * {
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    flex-grow: 1;
}

.head-contain a {
    color: rgb(0, 210, 210);
    border: 2px solid rgb(0, 210, 210);
    transition: all 0.25s ease-in-out;
    text-decoration: none;
}
.head-contain a:hover {
    background-color: orange;
    color: #333;
    border: 2px solid orange;
}
.head-contain a.active {
    color: orange;
    border: 6px solid orange;
}
.head-contain a.active:hover {
    color: orange;
    background-color: #333;
    border: 6px solid orange;
}

.portrait-head {
    border: 4px solid rgb(0, 210, 210);
    border-radius: 10px;
    color: rgb(0, 210, 210);
    background-color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.25s ease-in-out;
    top: 0;
    position: absolute;
    display: none;
    z-index: 50;
}
.portrait-head-p1 {
    color: orange;
    background-color: #333;
    border-right: 4px solid rgb(0, 210, 210);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    width: 40%;
    z-index: 10;
}
.portrait-head-p2 {
    transition: all 0.25s ease-in-out;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 60%;
    z-index: 10;
    cursor: pointer;
}
.portrait-head-p2:hover {
    background-color: orange;
    color: #333;
}

.portrait-nav-menu {
    transition: all 0.25s ease-in-out;
    display: none;
    width: 48%;
    z-index: 0;
}
.portrait-nav-menu.active {
    display: none;
}
.portrait-nav-menu a {
    color: rgb(0, 210, 210);
    background-color: #333;
    border: 2px solid rgb(0, 210, 210);
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    height: 100%;
    width: 100%;
    float: right;
    transition: all 0.25s ease-in-out;
    position: block;
}
.portrait-nav-menu a:hover {
    background-color: orange;
    color: #333;
    border: 2px solid orange;
}



nav {
    position: sticky;
    top: 0;
    padding: 15px;
    background-color: #333;
    border-radius: 10px;
    border: 4px solid rgb(0, 210, 210);
    transition: .25s ease-in-out;
    height: 40px;
    width: 40px;
    margin-left: -1000px;
    margin-right: 0;
    display: none;
    z-index: 50;
    cursor: pointer;
}
.ham-menu {
    height: 100%;
    width: 100%;
    position: sticky;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(0, 210, 210);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s ease-in-out;
}
.ham-menu span:nth-child(1) {top: 25%;}
.ham-menu span:nth-child(3) {top: 75%;}
nav:hover {
    background-color: orange;
    border-color: orange;
}
nav:hover span{background-color: #333;}

.side-bar {
    background: linear-gradient(135deg, rgb(0, 226, 226), rgb(15, 134, 247));
    width: 100%;
    max-width: 250px;
    height: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    left: 25px;
    transition: .25s ease-in-out;
    z-index: 100;

    flex: 0 1 250px;
}
.side-bar.active {
    left: 0px;
}
.side-bar a{
    color: #333;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-color: transparent;
    transition: all 0.25s ease-in-out;
}
.side-bar a:hover {
    background-color: rgb(0, 210, 210);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.side-bar a.active {
    font-size: larger;
    color: black;
    text-decoration: underline;
    text-decoration-color: orange;
}
.side-bar-close {
    height: 50px;
    width: 50px;
    float: right;
    margin: 10px;
    margin-bottom: -10px;
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
}
.side-bar-close span {
    height: 5px;
    width: 45px;
    margin-top: 25px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
}
.side-bar-close span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}
.side-bar-close span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

main {
    margin: 25px;
    margin-left: 300px;
    transition: all 0.25s ease-in-out;
}
section {
    background-color: #fff;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    scroll-margin-top: 100px;
}
section:first-of-type {
    margin-top: 100px;
}
section img {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
    width: auto;
    height: 100%;
    min-width: 200px;
    min-height: 266px;
    border: solid 5px black;
}
h1 {
    background-color: #333;
    color: #fff;
    border-bottom: 5px solid orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -15px;
    margin-bottom: 15px;
    margin-top: -20px;
    padding: 15px;
    padding-bottom: 5px;
}
h2 {
    background-color: orange;
    color: black;
    padding: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.section-content {
    display: inline-block;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}
footer a {
    color: rgb(0, 210, 210);
}


@media screen and (max-width: 1000px){
    section img {
        border-radius: 10px;
        object-fit: cover;
        width: calc(100% - 10px);
        height: auto;
        max-width: 225px;
        border: solid 5px black;
        justify-self: center;
    }
    .portrait-head {
        display: flex;
        flex-direction: row;
        float: right;
        position: sticky;
        align-content: center;
        align-items: center;
        width: calc(100% - 150px);
        height: auto;
    }
   
   
    nav {
        display: block;
        margin-left: 0;
        display: inline-block;
    }
    
    .side-bar-close {opacity: 100;}

    main {margin-left: 25px;}
    section:first-of-type {margin-top: 25px;}

    .head-contain {
        display: none;
        float: none;
        position: absolute;
        margin-top: -200%;
        width: 0px;
        height: 0px;
    }
    .side-bar {
        left: -250px;
    }

    .portrait-nav-menu {
        display: none;
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 0;
    }
    .portrait-nav-menu.active {
        display: block;
    }
}

@media screen and (max-width: 575px){
    .portrait-head {
        width: calc(100% - 100px);
        display: block;
        justify-items: center;
    }
    .portrait-head-p1{
        display: none;
    }
    .portrait-head-p2 {
        width: 91%;
    }
    .portrait-nav-menu{
        width: 80%;
        left: 15%;
    }
}